.title-exp {
    color:#10b981 ;
    font-size: 3.75rem;
}
.title-front {
    color: #10b981;
}

.li-item {
    color: #10b981;
    font-weight: 500;
    border: 1px solid #9ca3af;
    border-radius: 5px;
    padding: 5px;
}