.icon-footer {
  width: 1.5rem;
  height: 1.5rem;
  color: black;
  border-radius: 0.375rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  &:hover {
    color:#10b981;
  }
}

.titles-footer {
    font-size: 1rem;
}

.sergio-footer {
    color:#10b981 ;
}