.js-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: black;
  border-radius: 0.375rem;
  background-color: #facc15;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.next-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: black;
  border-radius: 0.375rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tailwind-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #2dd4bf;
  border-radius: 0.375rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.react-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #60a5fa;
  border-radius: 0.375rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.css-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #e5e7eb;
  border-radius: 0.375rem;
  background-color: #60a5fa;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ts-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #60a5fa;
  border-radius: 0.375rem;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.skills-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  > span {
    color: #9ca3af;
    font-size: 0.875rem;
  }
  > h3 {
    color:#10b981 ;
    font-size: 3.75rem;
  }
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-icons {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}


@media(max-width:644px) {
  .icons {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .icon {
    margin-bottom: 1.5rem;
  }
}